body {
  background-color: #abed8e;
  border: 1px solid rgba(255,255,255,0);
  font-family: 'Press Start 2P', cursive;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* pet section */
.placeHolder {
  background-color: #000;
  justify-self: center;
  margin-top: 150px;
  margin-left: 775px;
  opacity: .85;
  position: absolute;
  width: 300px;
  height: 450px;
  z-index: 1;
}

/* command section */
.button {
  margin-top: 725px;
  opacity: .75;
  padding: 75px 50px 50px;
}

.button:active {
  opacity: 1;
}

.button1 {
  margin-top: 725px;
  opacity: .75;
  padding: 75px 50px 50px;
}

.button1:active {
  opacity: 1;
}

.waterButton {
  margin-top: 725px;
  opacity: .75;
  padding: 75px 50px 50px;
}

.waterButton:active {
  opacity: 1;
}

/* main */
.positioning {
  margin-top: 100px;
  margin-left: 10px;
}

/* menus */

.screen {
  background-color: #5ba86c;
  margin-top: 15px;
  margin-left: 185px;
  position: fixed;
  width: 1500px;
  height: 720px;
  opacity: .25;
  z-index: 0;
}

/* settings screen */
.setContainer {
  margin-top: 50px;
  margin-left: 335px;
  opacity: .65;
  position: absolute;
  width: 1200px;
  height: 650px;
  z-index: 1;
}

.setDesc {
  color:#000;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  padding-top: 25px;
}

.setHeader {
  color: #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 85px;
  margin-top: 50px;
}

.setMode {
  display: inline-block;
  color: #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 45px;
  margin-top: 25px;
  opacity: .75;
  padding-right: 20px;
}

.setMode:active {
  opacity: 1;
}

.setSection {
  display: inline-block;
  position: absolute;
  height: 500px;
  margin-top: 25px;
  width: 700px;
  z-index: 0;
}

.setSection1 {
  display: inline-block;
  position: absolute;
  background-color: #000;
  height: 500px;
  opacity: .7;
  width: 500px;
}

.setTopic {
  color: #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 35px;
  margin-top: 25px;
  opacity: .5;
  padding-top: 25px;
}