* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

body {
  background-color: #abed8e;
  border: 1px solid rgba(255,255,255,0);
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: hidden;
}
 
#window-title {
  color: #000;
  display: flex;
  align-items: center;
  opacity: .75;
  overflow: hidden;
  padding: 5px 5px 5px 5px;
  font-family: 'VT323', monospace;
  font-size: 50px;
  margin-top: 10px;
  margin-left: 15px;
  text-shadow: 1px 1px #474747;
}

/* pet section */
.placeHolder {
  background-color: #000;
  justify-self: center;
  margin-top: 150px;
  margin-left: 775px;
  opacity: .85;
  position: absolute;
  width: 300px;
  height: 450px;
  z-index: 1;
}

.placeHolder1 {
  background-color: #fff;
  justify-self: center;
  margin-top: 150px;
  margin-left: 775px;
  opacity: .85;
  position: absolute;
  width: 300px;
  height: 450px;
  z-index: 1;
}

/* command section */

.button {
  margin-top: 725px;
  opacity: .75;
  padding: 75px 50px 50px;
}

.button:active {
  opacity: 1;
}

.button1 {
  margin-top: 725px;
  opacity: .75;
  padding: 75px 50px 50px;
}

.button1:active {
  opacity: 1;
}

.waterButton {
  margin-top: 725px;
  opacity: .75;
  padding: 75px 50px 50px;
}

.waterButton:active {
  opacity: 1;
}

/* menus */

.screen {
  background-color: #5ba86c;
  margin-top: 15px;
  margin-left: 185px;
  position: fixed;
  width: 1500px;
  height: 720px;
  opacity: .25;
  z-index: 0;
}